<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmp.develop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cmp.develop.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cmp.Profile.ProfileActivity"
            android:label="Profile"/>
        <activity android:name="com.cmp.Setting.SettingActivity"
            android:label="Settings"/>
        <activity android:name="com.cmp.CreateDilemma.CreateDilemmaActivity"
            android:label="Create Dilemma"/>
    </application>

</manifest>